.animations{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.animations-inverse{
    animation-duration: 3s;
    animation-name: slidein-inverse;
}

@keyframes slidein-inverse {
    from {
        margin-right: 100%;
    }
    to {
        margin-right: 0%;
    }
}